# Ignore compiled Python files
*.pyc

# Ignore Python bytecode cache folders
__pycache__/

# Ignore virtual environment folders (commonly named 'env' or 'venv')
venv/


# Ignore environment-specific settings
.env
.venv